FIREBASE_API_KEY="YOUR-API-KEY"
FIREBASE_PROJECT_ID="YOUR-PROJECT-ID"
FIREBASE_APP_ID="YOUR-APP-ID"

GOOGLE_ANALYTICS_ID="YOUR-GOOGLE-ANALYTICS-ID"
LASTFM_API_KEY="BQDBKJ5eo5jxbtpWjVOj7ryS84khybFpP_lTqzV7uV-T_m0cTfwvdn5BnBSKPxKgEb11"

VUE_APP_SPOTIFY_CLIENT_ID=8e0b2aa6950640afa89f05a153246af1
VUE_APP_SPOTIFY_CLIENT_SECRET=877c05b3a4484219ba26603fc1b84279
VUE_APP_REDIRECT_URI=http://localhost:8080/callback


OPENAI_API_KEY=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

NUXT_CONTENT_STORAGE=filesystem
